.DS_Store
build-*
build
install
data
.cache/
go
go.hard
run
app.log
*.pyc
sosd.*.db
sosd.*.key
*.swp
.gdb_history
.vscode/
examples/caliper-examples
CMakeCache.txt
CMakeFiles/
GTAGS
GPATH
GRTAGS
tags
*.dot
*.yaml
